/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: medium;
  text-align: center;
  color: #444;
}

.container {
  margin-left: 15px;
  margin-right: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 { font-size: 120%; }
h2 { font-size: 110%; }
h3 { font-size: 100%; }


h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a { 
  color: #268bd2;
  text-decoration: none; 
}
a:hover, a.extra:hover { color: #d33682; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li, .post p {
  line-height: 1.75em;
}

ul.posts .post-list-title {
  color: #aaa;
}

ul.posts .post-list-title {
  font-size: 150%;
}

.exceprt {
  font-size: 100%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  max-width: 38em;
  margin: 3em auto 2em;
  line-height: 1.7em;
}

.site .header {
  margin-bottom: 2em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  font-size: 4em;
  text-align: center;
}

.site .header h1.title a {
  color: #333;
}

.site .header h1.title a span.stand-out-letter {
  color: #268bd2;
}

.site .header h1.title a:hover .stand-out-letter {
  color: #d33682;
}

a.extra {
  display: inline-block;
  font-size: 130%;
  color: #073642;
  margin: 0 0.8em;
}

span.github-mark {
  width: 110px;
  height: 32px;
  padding-top: 3px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 16px;
}

span.github-mark:hover { 
  background-image: url('/img/GitHub-Mark-32px.png');
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .copyright {
  text-align: center;
}

.about-image { text-align: center; }

.about-image img {
  padding: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

div.contact ul {
  list-style-type: none;
  margin-left: 2em;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post-header { text-align: center; }

.post-header .post-title, .post-header .post-date { margin: 0; }

.post-header .post-date { 
  color: #bbb;
  font-style: normal;
  font-weight: normal;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Responsiveness
/*
/*****************************************************************************/

@media screen and (max-width: 500px) {

  .normal-letter { display: none; }
  .site .header { text-align: center; }
  a.extra { margin: 0 0.3em; }
  span.github-mark { display: inline; }
  span.github-mark:hover { background: none; }
  .site .header h1.title { margin-bottom: 20px; }
  .site { margin: 1em auto 1em; }
  .site div.header { margin-bottom: 0; }
}

